.to-the-right {
    position: relative;
    float: right;
    margin-right: 50%;
    margin-top: -3%;
}

img {
  border-style: none;
}

.b2 {
  color:#333;
}

p {
  text-align: left;
  color: red;
}

p.wide, p.widefin {
    color: black;
}

#infobox {
  margin: 0px 30px;
}

#toc {
  width: 12em;
  border: solid 1px #999;
  text-align: left;
  padding: 10px 10px 15px 10px;
  margin: 0px 0px 30px 30px;
}

table.QuamdiuUteris tr td {
  font-size: 100%;
  margin: 0px 5px 0px 5px;
}

.primaryhead {
        font-size: 2em;
}

.secondhead {
        font-size: 1.4em;
}

body {
	background-color:#333;
	/*padding:0% 20% 30px 20%;*/
	padding:20px 20%;
  text-align: left;
}

body.plain {
	background-color:none;
	/*padding:0% 20% 30px 20%;*/
	padding:20px 20%;
}

.fg {
	background-color:#FFF;
	padding:10px;
}

.fg1 {
	background-color:#F7E47D;
	padding:10px;
}

.fg2 {
	background-color:#C5E2FF;
	padding:10px;
}

.fg3 {
	background-color:#86CA7D;
	padding:10px;
}

.fg4 {
	background-color:#FFF8CF;
	padding:10px;
}

.fg5 {
	background-color:#DFEFFF;
	padding:10px;
}

.fg6 {
	background-color:#C8EFC2;
	padding:10px;
}

.bod1 {
	background-color:#F7E47D;
        padding:20px 20px;
}

.bod2 {
	background-color:#C5E2FF;
        padding:20px 20px;
}

.bod3 {
	background-color:#86CA7D;
        padding:20px 20px;
}

.bod4 {
	background-color:#FFF8CF;
        padding:20px 20px;
}

.bod5 {
	background-color:#DFEFFF;
        padding:20px 20px;
}

.bod6 {
	background-color:#C8EFC2;
        padding:20px 20px;
}

.bod7 {
	background-color:#DFDFDF;
        padding:20px 20px;
}

.indentout {
        padding: 0px 5% 0px 5%;
}

.indent {
        margin: 15px 0px;
        padding: 0px 0px 0px 5%;
	      text-align: left;
}

p.wide, .indent li, .p.widefin {
        line-height: 1.5;
}

p.widefin {
        padding: 20px 0px 0px 0px;
}

p {
        font-family: serif;
}

input.sortbutton {
  margin: 3.75px;
}

.normal {
  font-size: 100%;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.viewform {
  width: 240px;
}

.fieldview {
  float: left;
  text-align: left;
}

.fieldsort {
  float: right;
}

.formend {
  clear: both;
}

select { width: 200px; }
